aiofiles==0.4.0
aiohttp==3.7.4
argcomplete==1.9.3
astroid==2.4.0
async-timeout==3.0.1
attrs==19.3.0
aws-sam-translator==1.22.0
aws-xray-sdk==2.5.0
bandit==1.6.2
boto==2.49.0
boto3==1.13.3
botocore==1.16.3
certifi==2020.4.5.1
cffi==1.14.0
cfn-flip==1.1.0.post1
cfn-lint==0.30.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==3.2
DateTime==4.3
decorator==4.4.2
dlx @ git+https://github.com/dag-hammarskjold-library/dlx@9f3ccc426acf7e6d8eeab99df023e0103d1fade7
dlx-dl @ git+https://github.com/dag-hammarskjold-library/dlx-dl@9071600142a24cc6e34451265728598d77e74c91
docker==4.2.0
docutils==0.15.2
durationpy==0.5
ecdsa==0.15
Flask==1.0.2
Flask-Login==0.4.1
flask-mongoengine==0.9.5
Flask-WTF==0.14.2
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
hjson==3.0.1
idna==2.8
importlib-metadata==1.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.17.0
jsondiff==1.1.2
jsonpatch==1.25
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.2.0
kappa==0.6.0
lambda-packages==0.20.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
mongoengine==0.18.2
mongomock==3.19.0
more-itertools==8.2.0
moto==1.3.14
motor==2.1.0
multidict==4.7.4
natsort==7.0.1
networkx==2.4
nltk==3.5
ods-api @ git+https://github.com/dag-hammarskjold-library/ods-api@d81d3407170214d5046ff54a2ac43a13fc17a778
packaging==20.3
pbr==5.4.4
pdf2image==1.14.0
Pillow==8.1.1
placebo==0.8.2
pluggy==0.13.1
py==1.8.1
pyasn1==0.4.8
pycparser==2.20
pylint==2.5.0
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytesseract==0.3.6
pytest==5.4.1
python-dateutil==2.8.1
python-docx==0.8.10
python-jose==3.1.0
python-slugify==1.2.4
pytz==2020.1
PyYAML==5.3.1
regex==2020.11.13
requests==2.23.0
responses==0.10.14
rsa==4.1
s3transfer==0.3.3
sentinels==1.0.0
six==1.14.0
smmap2==2.0.5
sshpubkeys==3.1.0
stevedore==1.31.0
strict-rfc3339==0.7
style==1.1.0
text-unidecode==1.3
tika==1.24
toml==0.10.0
tornado==6.0.3
tqdm==4.19.1
troposphere==2.4.1
Unidecode==1.0.23
urllib3==1.25.9
wcwidth==0.1.9
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
wsgi-request-logger==0.4.6
WTForms==2.2.1
xlrd==1.2.0
xmldiff==2.4
xmltodict==0.12.0
yarl==1.4.2
zappa==0.49.0
zipp==3.1.0
zope.interface==5.1.2
