<!doctype html>
<html>
  <head>
    <title>File Contents</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">File Contents</div>
        <div class="panel-body">
          <pre>{{ content }}</pre>
          <a href="/" class="btn btn-default">Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
